.table { 
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.table__header .table__row {
    background-color: var(--primary-color);
    color: #fff;
}


.table__row-item { 
    padding: 1rem 0;
    text-align: center;
}