.list-group {  
    width: 100%;
}

.list-group__item { 
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .8rem;
}

.list-group__item .title { 
    font-weight: 600;
}

#weather_list { 
    display: none;
}