<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Employees Management System</title>
</head>
<body>
    
    <%- include('./partials/header', { title: 'Employee Management Dashboard'}); %>

    <%- include('./partials/page-title', { page_title: 'Create Employee'}); %>
    
    <div class="container">
        <form method="POST" action="/create" class="new-entry-form">
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control ml-2" name="name">

                <% if (typeof errors == 'object' && errors.name) { %>
                    <ul class="form-errors__group">
                        <li><%= errors.name.msg %></li>
                    </ul>
                <% } %>
            </div>

            
            <div class="form-group">
                <label for="salary" class="form-label">Salary</label>
                <input type="text" class="form-control ml-2" name="salary">

                <% if (typeof errors === 'object' && errors.salary) { %>
                    <ul class="form-errors__group">
                        <li><%= errors.salary.msg %></li>
                    </ul>
                <% } %>
            </div>

            <div class="form__actions">
                <button class="btn btn-primary">Create</button>
            </div>
        </form>

    </div>

    <script src="js/common.js"></script>
</body>
</html>