<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/delete-employee.css">

    <title>Employees Management System</title>
</head>
    <body>
        
        <%- include('./partials/header', { title: 'Employee Management Dashboard'}); %>

        <%- include('./partials/page-title', { page_title: 'Delete Employee'}); %>

        <div class="container">
            <div class="delete-caution">
                <h1 class="h5">Caution!</h3>
                <p class="delete-caution__description">Do you Really Want to Delete Employee <span style="font-weight: 600;"><%= employee.name %></span>? This Action is Irreversible!</p> 

                <div class="form__actions">
                    <a href="/delete/<%= employee._id %>/confirm" class="btn btn-danger">Delete Anyway</a>
                </div>
            </div>
        </div>

    </body>

    <script src="js/common.js"></script>
</html>