<header id="main-header">
    <div class="container">
        <div class="header-wrapper">
            <h1 class="logo h3"><%= title %></h1>
            <nav class="header-wrapper__nav">
                <a href="/">Employee Management</a>
                <a href="/weather">Weather</a>
                <a href="/near-me">Explore</a>
                <button class="nav-btn" id="logout" style="display: none;">Logout</button>
            </nav>
        </div>
    </div>
</header>